## App

In [1]:
import numpy as np
import pandas as pd
import mock
from App import App

In [2]:
import contextlib
with contextlib.ExitStack() as patches:
    mock_knn = patches.enter_context(mock.patch('Knn.Knn'))
    mock_genre = patches.enter_context(mock.patch('Genre.Genre'))
    mock_ui = patches.enter_context(mock.patch('UI.UI'))
    mock_su = patches.enter_context(mock.patch('Service.UserService'))
    mock_sm = patches.enter_context(mock.patch('Service.MovieService'))
    mock_sc = patches.enter_context(mock.patch('Service.RecommendService'))
    mock_sr = patches.enter_context(mock.patch('Service.RatingService'))
    mock_us = patches.enter_context(mock.patch('UserService.UserService'))
    mock_ms = patches.enter_context(mock.patch('MovieService.MovieService'))
    mock_cs = patches.enter_context(mock.patch('RecommendService.RecommendService'))
    mock_rs = patches.enter_context(mock.patch('RatingService.RatingService'))
    mock_ud = patches.enter_context(mock.patch('UserData.UserData'))
    mock_md = patches.enter_context(mock.patch('MovieData.MovieData'))
    mock_rd = patches.enter_context(mock.patch('RatingData.RatingData'))
    app = App()
    app.configure()
    # objects are all created only once
    mock_su.assert_called_once()
    mock_sm.assert_called_once()
    mock_sc.assert_called_once()
    mock_sr.assert_called_once()
    mock_us.assert_called_once()
    mock_ms.assert_called_once()
    mock_cs.assert_called_once()
    mock_rs.assert_called_once()
    mock_ud.assert_called_once()
    mock_md.assert_called_once()
    mock_rd.assert_called_once()
    mock_ui.assert_called_once()
    mock_genre.assert_called_once()
    mock_knn.assert_called_once_with('correlation')
    print("All Passed")

All Passed

### Rating recommendation

In [3]:
df_movie = pd.DataFrame([[1, "test", None, None, None, 0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,]], 
                        columns = ['movie_id', 'title', 'release_date', 'video_release_date',
                    'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation',
                    'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama',
                    'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery',
                    'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'])
df_movie

,movie_id,title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Childrens,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,test,None,None,None,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# test rating matrix (user x movie)
df_ratmat = pd.DataFrame([[0, 0, 0, 0,], 
                          [1, 3, 0, 2], 
                          [2, 0, 0, 0], 
                          [3, 0, 0, 0], 
                          [4, 0, 0, 0]],
                         columns = ['user_id', '1', '2', '3',])
df_ratmat = df_ratmat.set_index("user_id")
df_ratmat

         1  2  3
user_id
0        0  0  0
1        3  0  2
2        0  0  0
3        0  0  0
4        0  0  0

In [19]:
app = App()
app.configure(df_movie=df_movie,df_ratmat=df_ratmat)
print("All Passed")

All Passed

In [21]:
# estimate rating by user_id = 2, movie_id = 1, K = 1
app.bs_recommend.recommend_rating(2, 1, 1)

[[0 0 0]]
0 index: 0 user_id: 1 rating: 3 score: nan
expected rating ===> nan

nan